.content__top {
  display: flex;
  justify-content: space-between;

  .categories {
    padding: 0 0 15px 0;

    ul {
      display: flex;
      list-style-type: none;
      color: #5E2A41;

      li {
        background-color: #F2D59F;
        padding: 10px 30px;
        border-radius: 5px;
        border: 2px solid #F2D59F;
        margin-right: 10px;
        font-weight: bold;
        cursor: pointer;

        &:hover {
          background-color: #ffe2aa;
        }
      }

      .target {
        border: 2px solid #725b5b;
      }
    }
  }

  .sort {
    .sort__label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 53px;
      cursor: pointer;

      img {
        margin-right: 5px;
        margin-top: 4px;

        &.rotated {
          transform: rotate(180deg);
        }
      }

      b {
        margin-right: 8px;
      }

      span {
        color: #FF7124;
        border-bottom: 1px dashed #FF7124;

      }
    }

    .sort__menu {
      position: absolute;
      right: 300px;
      margin-top: 15px;
      background: #ffffff;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
      border-radius: 10px;
      overflow: hidden;
      padding: 10px 0;
      width: 160px;

      ul {
        overflow: hidden;
        list-style-type: none;
        padding-inline-start: 0;


        li {
          padding: 12px 20px;
          cursor: pointer;
          text-align: left;

          &.active,
          &:hover {
            background: rgba(254, 95, 30, 0.05);
          }

          &.active {
            font-weight: bold;
            color: orange;
          }
        }
      }
    }
  }
}

.content__title {
  text-align: left;
  margin: 15px 0 0 40px;
  font-size: 24px;
  font-weight: 600;
}


.content__items {
  padding: 15px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    color: black;
  }

  .item {
    width: 230px;
    height: 340px;
    border: 1px solid #d3d3d3;
    margin-bottom: 30px;


    &:hover {
      box-shadow: 0 0 2px;
    }

    img {
      padding: 20px 0 0 0;
      height: 210px;
      cursor: pointer;
    }

    div {
      margin-top: 5px;
      font-size: 15px;
      height: 40px;
      overflow: hidden;
      cursor: pointer;
    }

    .item__bottom {
      display: flex;
      justify-content: space-between;
      padding: 0 10px 0 10px;

      div:first-child {
        font-weight: 600;
      }

      div:last-child {
        height: auto;
        padding: 7px 15px 0 15px;
        cursor: pointer;
        font-weight: 600;
        background: #26A9E0;
        border-radius: 3px;
        color: white;
        font-weight: 300;

        &:hover {
          background: #249ace;
          //background: #52a5ff;
        }
      }
    }
  }
}

.add {
  display: flex;
  flex-direction: column;

  input {
    margin: 10px;
    height: 20px;
  }

  button {
    height: 30px;
    margin: 10px;
    cursor: pointer;
  }

  textarea {
    margin: 10px;
    height: 100px;
    resize: none;
  }
}

.select__book {
  display: flex;
  padding: 50px 200px 100px 200px;
  justify-content: space-between;

  img {
    width: 500px;
  }

  .select__right {
    text-align: left;
    margin-left: 50px;

    .select__name {
      font-size: 28px;
      font-weight: bold;
      padding-bottom: 30px;
    }
    .select__elem {
      padding-bottom: 20px;
      font-size: 18px;
    }
    button {
      float: right;
      height: 40px;
      width: 85px;
      font-size: 20px;
      text-align: left;
      padding: 0 0 0 10px;
      color: white;
      background-color: #0f7ad0;
      border-radius: 3px;
      border: #0f7ad0;
      cursor: pointer;
      &:hover {
        background-color: #26A9E0;
      }
    }
  }
}