@import "variables";

.content__top {
  display: flex;
  justify-content: space-between;


}
.content__title {
  text-align: left;
  margin: 15px 0 0 40px;
  font-size: 24px;
  font-weight: 600;
}
.content__items {
  padding: 15px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    color: black;
  }
}



