@import "variables";


.header {
  .container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .header__logo {
    display: flex;
    padding: 12px;
    img {
      width: 60px;
    }
    div {

      margin-left: 10px;
      h1 {
        text-align: left;
        font-size: 24px;
        padding-top: 10px;

      }
      p {

        color: $title-color;
      }
    }
  }
  .header__cart {
    display: flex;
    margin: 20px;
    padding: 12px 25px;
    background-color: $last-color;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    font-weight: 600;
    align-items: center;

    &:hover {
      background-color: $first-color;
    }

    img {
      width: 22px;
      padding: 0 10px 0 0;
    }
    .button__delimiter {
      width: 1px;
      height: 25px;
      background-color: rgba(255, 255, 255, 0.25);
      margin-left: 14px;
      margin-right: 14px;
    }
  }
}
