@import 'header';
@import 'content';
@import 'item';
@import 'add';
@import 'selectBook';
@import 'categories';
@import 'sort';
@import 'cart';

* {
  margin: 0;
}
a {
  text-decoration: none;
  &:visited {
    color: #000000;
  }
}

button:active, button:focus {
  outline: none;
}

.wrapper {
  text-align: center;
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 1400px;
}


