@import "variables";

.sort {
  .sort__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 53px;
    cursor: pointer;

    img {
      margin-right: 5px;
      margin-top: 4px;

      &.rotated {
        transform: rotate(180deg);
      }
    }

    b {
      margin-right: 8px;
    }

    span {
      color: $last-color;
      font-weight: bold;
      border-bottom: 1px dashed $last-color;

    }
  }

  .sort__menu {
    position: absolute;
    right: 300px;
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 160px;

    ul {
      overflow: hidden;
      list-style-type: none;
      padding-inline-start: 0;

      li {
        padding: 12px 20px;
        cursor: pointer;
        text-align: left;

        &.active,
        &:hover {
          background: rgba(254, 95, 30, 0.05);
        }

        &.active {
          font-weight: bold;
          color: $last-color;
        }
      }
    }
  }
}